{{#each beersFromApi}}
<li>
    <img src="{{this.image_url}}" alt="Imagen Cerveza" width="50">
    <p>{{this.name}}</p>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    

</li>

{{/each}}