
<li>
    <img src="{{responseFromApi.0.image_url}}" alt="Imagen Cerveza" width="50">
    <p>{{responseFromApi.0.name}}</p>
    <p>{{responseFromApi.0.description}}</p>
    <p>{{responseFromApi.0.tagline}}</p>
    

</li>